<main>

  <section class="text-center container">
    <div class="row py-lg-3">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Welcome to Let's Shop!</h1>
        <p class="lead text-body-secondary">You are few click away to buy best things on online market.</p>

      </div>
    </div>
  </section>

  <div class="album py-5 bg-body-tertiary">
    <div class="container">

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <ng-container *ngFor="let row of api.products()">
          <div class="col">
            <div class="card shadow-sm">
              <img [src]="row.image" width="100%" height="225" alt="">
              <div class="card-body">
                <p class="card-title">{{row.title}}</p>
                <p class="card-text">{{row.description}}</p>
                <div class="d-flex justify-content-between align-items-center mt-3">
                  <div class="btn-group">
                   <button (click)="addToCart(row)" class="btn btn-success">Add To Cart</button>
                  </div>
                  <span class="badge text-bg-warning rounded-pill">{{row.price | currency }}</span>
                  <span class="badge text-bg-danger move rounded-pill">Stock Left: {{row.rating.count }}</span>
                </div>
              </div>
            </div>
          </div>
        </ng-container>


      </div>
    </div>
  </div>

</main>
